body {
	background-color: #ffffe0
}

h1 {
	color: #000999;
}

.word-count,
.word-count-value {
	display: inline;
	// float: right;
}

.word-count {
	float: right;
}

.activity-list {
	background-color: #ffffff;
	margin-top: 30px;
	margin-bottom: 8px;
	// margin-left: 15px;
	padding: 0px;
}

.activity-item {
	text-align: right;
}

.activities {
	margin: 0px;
	padding: 0px;
	li {
		list-style: none;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 5px;
		p {
			display: inline;
		}
	}
	li:nth-child(even) {
		background-color: #CCFFCC;
	}
}

.activity-checkbox {
	margin-right: 10px;
}

.activity-text {
	// float: left;
	text-align: left;
	word-wrap: break-word;
	// width: 75%;
	// overflow: scroll;
}

.completed-activity {
	text-decoration: line-through;
	opacity: 0.5;
}

.expand {
	// display: none;
}

.edit ,
.delete {
	margin-left: 10px;
}

.activity-text,
.edit,
.delete {
	
}

.activity-list-empty {
	
}

.empty-text {
	margin-top: 10px;
}

.empty {
	display: none;
}

input[type='checkbox'] {
	margin-right: 20px;
}
