body {
	background-color: #ffffe0
}

h1 {
	color: #000999;
}

.activity-list {
	background-color: #ffffff;
	margin-top: 20px;

	li {
		list-style: none;
	}
}

.delete {
	display: block;
}


.activity-list-empty {
	ul {
		// display: none;
	}
}

.empty {
	display: none;
}